body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 40px;
}
span {
  flex: 1;
}
nav {
  flex: 2;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  height: calc(100vh - 40px);
}

footer {
  background-color: lightgray;
  height: 60px;
}
